= form_for @view_template do |f|
  -if @view_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@view_template.errors.count, "error")} prohibited this view_template from being saved:"
      %ul
        - @view_template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :prefix
    = f.text_field :prefix
  .field
    = f.label :partial
    = f.check_box :partial
  .field
    = f.label :source
    = f.text_area :source
  .field
    = f.label :status
    = f.select :status, options_for_select([['Production', 'production'], ['Development', 'development']])
  .field
    = f.label :locale
    = f.text_field :locale
  .field
    = f.label :formats
    = f.text_field :formats
  .field
    = f.label :handlers
    = f.select :handlers, options_for_select([['Haml', 'haml'],['Erb', 'erb']])
  .actions
    = f.submit t("view_template.form.save")