%h1 Listing view_templates

%table
  %tr
    %th= t("view_template.name")
    %th= t("view_template.prefix")
    %th= t("view_template.partial")
    %th= t("view_template.source")
    %th= t("view_template.locale")
    %th= t("view_template.formats")
    %th= t("view_template.handlers")
    %th
    %th
    %th

  - @view_templates.each do |view_template|
    %tr
      %td= view_template.name
      %td= view_template.prefix
      %td= view_template.partial
      %td= view_template.source
      %td= view_template.locale
      %td= view_template.formats
      %td= view_template.handlers
      %td= link_to t("view_template.links.show"), view_template
      %td= link_to t("view_template.links.edit"), edit_view_template_path(view_template)
      %td= link_to (t"view_template.links.destroy"), view_template, :confirm => 'Are you sure?', :method => :delete

%br

= link_to t('view_template.links.new'), new_view_template_path
